<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
    <a href="/secretWord"><button>Secret Word</button></a>
    <a href="/expenses"><button>Expenses App</button></a>
<% } else { %>
    <a href="/sessions/login">Click this link to login.</a>
    <a href="/sessions/register">Click this link to register.</a>
<% } %>
<%- include("partials/footer.ejs") %>